.wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  min-height: 100vh;
}

.pageContent {
  position: relative;

  padding: 215px 0 139px;
}

.pageContent::before,
.pageContent::after {
  position: absolute;

  width: 100%;

  content: "";
}

.pageContent::before {
  top: 0;

  height: 251px;

  background-image: url("../../../public/img/content/bg_header.png"), url("data:image/svg+xml,%3Csvg width='1020' height='74' viewBox='0 0 1020 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='28' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='56' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='14' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='42' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='70' width='1020' height='4' fill='%233F3F3F'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat-x;
  background-position: top -38px right, top 24px center;
  background-size: 825px, 1020px;
}

.pageContent::after {
  bottom: 0;

  height: 139px;

  background-image: url("data:image/svg+xml,%3Csvg width='1020' height='5' viewBox='0 0 1020 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1020' height='5' fill='%23131212'/%3E%3C/svg%3E%0A"), url("../../../public/img/content/bg_header.png");
  background-repeat: repeat-x, no-repeat;
  background-position: bottom 129px center, bottom -31% left 103%;
  background-size: 1020px, 825px;

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.titleBigger {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.2;

  color: inherit;

  font-size: 22px;
  line-height: 30px;
}

.container {
  width: 100%;
  min-width: 1020px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .pageContent::before {
    background-image: url("../../../public/img/content/bg_header@2x.png"), url("data:image/svg+xml,%3Csvg width='1020' height='74' viewBox='0 0 1020 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='28' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='56' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='14' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='42' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='70' width='1020' height='4' fill='%233F3F3F'/%3E%3C/svg%3E%0A");
  }

  .pageContent::after {
    background-image: url("data:image/svg+xml,%3Csvg width='1020' height='5' viewBox='0 0 1020 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1020' height='5' fill='%23131212'/%3E%3C/svg%3E%0A"), url("../../../public/img/content/bg_header@2x.png");
  }
}
