.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1000;

  display: flex;
  visibility: visible;
  overflow-y: auto;
  flex-direction: column;

  opacity: 1;
  background: rgba(84, 77, 77, 0.65);

  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
          transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
          transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
          transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: auto;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modalWrapper {
  position: relative;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  width: 100%;
  min-height: 100%;
  padding: 60px 40px;
}

.modalOverlay {
  top: 0;
  left: 0;
  position: absolute;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.modalContent {
  position: relative;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  width: 430px;
  padding: 40px;
  padding-top: 117px;
  padding-bottom: 31px;

  border-radius: 4px;
  background: url("../../../public/img/sprite/bg_modal.png") no-repeat top 0 left 0;
  background-color: #fefafa;
  background-size: 255px 95px;
}

.modalIcon {
  width: 26px;
  height: 20px;
  margin-right: 7px;
  margin-left: 22px;
}

.modalMessage {
  position: relative;

  width: 255px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.02em;
}

.modalButtonContainer {
  display: flex;
  flex-grow: 1;
  justify-content: start;

  padding-top: 20px;
}

.goToCartBtn {
  display: block;

  min-width: 170px;
  margin: 0;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  padding-right: 5px;
  padding-left: 5px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;

  color: #fefafa;
  border: 2px solid #131212;
  border-radius: 2px;
  background-color: #131212;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  --button-horizontal-padding: 12px;
  --button-vertical-padding: 12px;
}

.goToCartBtn:hover {
  color: #131212;
  background-color: #fefafa;
}

.continueShoppingBtn {
  display: block;

  min-width: 170px;
  margin: 0;
  margin-left: auto;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  padding-right: 5px;
  padding-left: 5px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;

  color: #201f1f;
  border: 1px solid #131212;
  border-radius: 2px;
  background-color: #fefafa;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  --button-horizontal-padding: 12px;
  --button-vertical-padding: 12px;
}

.continueShoppingBtn:hover {
  color: #fefafa;
  background-color: #131212;
}

.modalCloseBtn {
  top: 23px;
  right: 23px;
  position: absolute;

  width: 14px;
  height: 14px;
  padding: 0;

  color: #585757;
  border: none;
  background-color: transparent;

  cursor: pointer;
  -webkit-transition: outline-color 0.3s ease;
  -webkit-transition: color 0.3s ease;
          transition: outline-color 0.3s ease;
          transition: color 0.3s ease;
}

.modalCloseBtn:hover {
  color: #c90606;
}

.modalCloseBtn:focus {
  color: #c90606;
  outline: none;
}

.buttonCrossIcon::before,
.buttonCrossIcon::after {
  top: 6.5px;
  left: -1.5px;
  position: absolute;

  width: 17px;
  height: 1px;

  background-color: currentColor;

  content: "";
}

.buttonCrossIcon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.buttonCrossIcon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modalCloseBtninteractiveArea {
  position: relative;
}

.modalCloseBtninteractiveArea::before {
  top: 50%;
  left: 50%;
  position: absolute;

  width: 60px;
  height: 65px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .modal--success .modal__content {
    background-image: url("../../../public/img/sprite/bg_modal@2x.png");
  }
}
