.wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  min-height: 100vh;
}

.wrapper .header,
.wrapper .footer {
  flex-shrink: 0;
}

.wrapper main {
  flex-grow: 1;
}

.visuallyHidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.pageContent {
  position: relative;

  padding: 215px 0 139px;
}

.pageContent::before,
.pageContent::after {
  position: absolute;

  width: 100%;

  content: "";
}

.pageContent::before {
  top: 0;

  height: 251px;

  background-image: url("../../../public/img/content/bg_header.png"), url("data:image/svg+xml,%3Csvg width='1020' height='74' viewBox='0 0 1020 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='28' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='56' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='14' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='42' width='1020' height='4' fill='%233F3F3F'/%3E%3Crect y='70' width='1020' height='4' fill='%233F3F3F'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat-x;
  background-position: top -38px right, top 24px center;
  background-size: 825px, 1020px;
}

.pageContent::after {
  bottom: 0;

  height: 139px;

  background-image: url("data:image/svg+xml,%3Csvg width='1020' height='5' viewBox='0 0 1020 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1020' height='5' fill='%23131212'/%3E%3C/svg%3E%0A"), url("../../../public/img/content/bg_header.png");
  background-repeat: repeat-x, no-repeat;
  background-position: bottom 129px center, bottom -31% left 103%;
  background-size: 1020px, 825px;

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container {
  width: 100%;
  min-width: 1020px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

.titleBigger {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.2;

  color: inherit;

  font-size: 22px;
  line-height: 30px;

  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;

  margin: 20px 0 43px;
  padding: 0;

  list-style: none;

  font-size: 14px;
  line-height: 19px;
}

.breadcrumbsItem {
  display: flex;
  align-items: center;

  margin-right: 12px;
}

.breadcrumbsItem a:focus {
  outline: 1px solid #c90606;
  outline-offset: 1px;
}

.breadcrumbsItem:not(:last-child)::after {
  display: block;

  width: 15px;
  height: 9px;
  margin-left: 12px;

  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6825.807518c.058-.058204.127-.104383.2029-.135891.076-.031508.1574-.047726.2396-.047726s.1636.016218.2395.047726c.076.031508.1449.077687.203.135891l3.75 3.750002a.625017.625017 0 0 1 .1359.20296.625106.625106 0 0 1 .0477.23954c0 .08221-.0162.16361-.0477.23954a.625017.625017 0 0 1-.1359.20296l-3.75 3.75c-.1174.11736-.2765.18329-.4425.18329-.166 0-.3252-.06593-.4425-.18329-.1174-.11736-.1833-.27653-.1833-.4425s.0659-.32514.1833-.4425l3.3087-3.3075-3.3087-3.3075a.625017.625017 0 0 1-.1359-.20296.625106.625106 0 0 1-.0477-.23954c0-.08221.0162-.16361.0477-.23954a.62494.62494 0 0 1 .1359-.202962z' fill='%23131212'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.5 5c0-.16576.065848-.32473.183058-.44194C.800269 4.44085.95924 4.375 1.125 4.375H14.25c.1658 0 .3247.06585.4419.18306.1173.11721.1831.27618.1831.44194 0 .16576-.0658.32473-.1831.44194a.624819.624819 0 0 1-.4419.18306H1.125c-.16576 0-.324731-.06585-.441942-.18306C.565848 5.32473.5 5.16576.5 5z' fill='%23131212'/%3E%3C/svg%3E");
  background-position: center;

  content: "";
}

.breadcrumbsItem:last-child {
  color: #585757;
}

.breadcrumbsItem:last-child a {
  pointer-events: none;
}

.productContainer {
  display: flex;

  padding-bottom: 62px;

  font-size: 14px;
  line-height: 15px;

  border-bottom: 0.7px solid #dddada;

  letter-spacing: 0.05em;
}

.productContainerImg {
  width: 220px;
  height: 252px;
  margin-right: 20px;

  -o-object-fit: contain;
     object-fit: contain;
}

.productContainerInfoWapper {
  width: 380px;
}

.productContainerTitle {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  color: inherit;
}

.product-container__price-wrapper {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 246px;
  height: 165px;
  margin-top: 13px;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  border: 1px solid rgba(88, 87, 87, 0.7);
  border-radius: 2px;
}

.product-container__price-info {
  margin-top: 0;
  margin-bottom: 34px;

  font-size: 20px;
  line-height: 15px;

  letter-spacing: 0.05em;
}

.product-container__price-info--title {
  padding-left: 5px;
}

.product-container__price-info--value {
  margin-left: auto;
  padding-right: 6px;

  font-weight: bold;
}

.product-container__button {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.rate {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  color: #c90606;

  margin-bottom: 22px;

  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;
}

.rate svg {
  margin-right: 3px;
}

.rate label {
  position: relative;
}

.rate__label {
  margin-left: 3px;
}

.rateCount {
  margin: 0;
  margin-right: auto;

  color: #585757;
}

.rate:not(:checked) > label {
  float: right;
  overflow: hidden;

  width: 18px;
  height: 20px;

  font-size: 30px;

  color: #ffffff;

  cursor: pointer;
  white-space: nowrap;
}

.rate:not(:checked) > label::before {
  position: absolute;

  width: 24px;
  height: 20px;

  background: url("../../../public/img/sprite/icon-star.svg") no-repeat top 0 left 0;
  background-size: 18px 20px;

  content: "";
}

.rate > input:checked ~ label {
  background: url("../../../public/img/sprite/icon-full-star.svg") no-repeat top 0 left 0;
  background-size: 18px 20px;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  background: url("../../../public/img/sprite/icon-full-star.svg") no-repeat top 0 left 0;
  background-size: 18px 20px;
}

.rate > input:focus + label {
  outline: 1px solid #000000;
  outline-offset: -1px;
}

.rate__message {
  bottom: -17px;
  left: 7px;
  position: absolute;

  width: 100px;
  margin: 0;

  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 15px;

  color: #eb5555;

  letter-spacing: 0.02em;
}

.tabsButton {
  display: block;

  padding: var(--button-vertical-padding) var(--button-horizontal-padding);

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;

  color: #fefafa;
  border: 2px solid #131212;
  border-radius: 2px;
  background-color: #131212;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  min-width: 190px;
  padding-right: 26px;
  padding-left: 26px;

  font-size: 14px;

  --button-horizontal-padding: 18px;
  --button-vertical-padding: 12px;
}

.tabsButton:hover {
  color: #131212;
  background-color: #fefafa;
}

.tabsButtonBlackBorder {
  display: block;

  padding: var(--button-vertical-padding) var(--button-horizontal-padding);

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;

  color: #fefafa;
  border: 2px solid #131212;
  border-radius: 2px;
  background-color: #131212;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  min-width: 190px;
  padding-right: 26px;
  padding-left: 26px;

  font-size: 14px;

  color: #201f1f;
  border: 1px solid #131212;
  background-color: #fefafa;

  --button-horizontal-padding: 18px;
  --button-vertical-padding: 12px;
}


.tabsButtonBlackBorder:hover {
  color: #fefafa;
  background-color: #131212;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabsContent {
  width: 100%;
}

.productContainerPriceWrapper {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 246px;
  height: 165px;
  margin-top: 13px;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  border: 1px solid rgba(88, 87, 87, 0.7);
  border-radius: 2px;
}

.priceInfoTitle {
  margin-top: 0;
  margin-bottom: 34px;
  padding-left: 5px;

  font-size: 20px;
  line-height: 15px;

  letter-spacing: 0.05em;
}

.priceInfoValue {
  margin-top: 0;
  margin-bottom: 34px;
  margin-left: auto;
  padding-right: 6px;

  font-size: 20px;
  line-height: 15px;
  font-weight: bold;

  letter-spacing: 0.05em;
}

.addToCartButton {
  display: block;

  width: 100%;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  padding-right: 10px;
  padding-left: 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;

  color: #fefafa;
  border: 2px solid #131212;
  border-radius: 2px;
  background-color: #131212;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  --button-horizontal-padding: 20px;
  --button-vertical-padding: 12px;

  border-color: #c90606;
  background-color: #c90606;
}

.addToCartButton:hover {
  color: #c90606;
  background-color: #fefafa;
}
