.header {
  display: flex;

  min-height: 110px;
  padding-top: 22px;
  padding-bottom: 12px;

  color: #ffffff;
  background-color: #131212;
}

.headerWrapper {
  display: flex;
  align-content: center;
  align-items: center;

  width: 100%;
  min-width: 1020px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  padding-right: 66px;

  background: inherit;
}

.headerLogo {
  display: flex;
  align-items: start;

  margin-right: 110px;
}


.headerLogoImg {
  width: 70px;
  height: 70px;

  -o-object-fit: contain;
     object-fit: contain;
}

.headerCartLink {
  position: relative;
  position: relative;

  display: block;

  width: 14px;
  height: 14px;
  margin-left: auto;

  color: #ffffff;

  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.headerCartLink::before {
  top: 50%;
  left: 50%;
  position: absolute;

  width: 40px;
  height: 40px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.headerCartLink:hover,
.headerCartLink:focus {
  color: #c90606;
}

.headerCartIcon {
  top: 50%;
  left: 50%;
  position: absolute;

  width: 14px;
  height: 14px;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.headerCartCount {
  top: -5px;
  right: -14px;
  position: absolute;

  width: 12px;
  height: 12px;

  font-family: "Droid Sans", "Arial", sans-serif;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
  border-radius: 50%;
  background-color: #c90606;

  text-align: center;
}

.mainNav {
  display: block;

  margin-right: 27px;

  font-size: 14px;
  line-height: 20px;

  text-align: left;
  letter-spacing: 1px;
}

.mainNavList {
  display: flex;
  flex-wrap: wrap;

  width: 390px;
  margin: -10px 0 0 -37px;
  padding: 0;

  list-style: none;
}

.mainNavLink {
  font: inherit;

  color: inherit;

  cursor: pointer;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
  display: block;

  margin-top: 10px;
  margin-left: 37px;
}

.mainNavLink:hover {
  color: #c90606;
}

.mainNavLink:active {
  color: #545454;
}


.mainNavLinkCurrent {
  font: inherit;

  color: inherit;

  cursor: pointer;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
  display: block;

  margin-top: 10px;
  margin-left: 37px;

  pointer-events: none;
}

.visuallyHidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}
