.productCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 220px;
  min-height: 310px;
  padding: 9px 9px 14px;

  font-size: 14px;
  line-height: 15px;

  border: 1px solid #dddada;
  background-color: #ffffff;

  letter-spacing: 0.05em;
}

.productCard img {
  width: 100%;
  height: 190px;
  margin: 0 auto;

  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.productCardButtons,
.productCardInfo {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
}

.productCardInfo {
  flex-wrap: wrap;

  margin: 9px 5px 8px 4px;
}

.productCardButtons {
  margin-top: auto;
}

.productCardButtons a:focus {
  outline: 1px solid #c90606;
  outline-offset: 1px;
}

.productCardTitle {
  width: 60%;
  margin: 0;
  padding-top: 4px;

  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  letter-spacing: 0.05em;
  text-overflow: ellipsis;
}

.productCardPrice {
  width: 40%;
  margin: 0;
  padding-top: 4px;

  text-align: right;
}

.rate {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  margin: 2px 0 0 0;

  font-size: 10px;
  line-height: 15px;

  letter-spacing: 0.1em;

  color: #585757;
}

.rate svg {
  margin-right: 3px;
}

.rate label {
  position: relative;
}

.rateCount {
  margin: 0;
  margin-right: auto;

  color: #585757;
}

.getMoreBtn {
  display: block;

  padding: var(--button-vertical-padding) var(--button-horizontal-padding);

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #fefafa;
  border: 2px solid #131212;
  border-radius: 2px;
  background-color: #131212;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  --button-horizontal-padding: 8px;
  --button-vertical-padding: 1px;
}

.getMoreBtn:hover {
  color: #131212;
  background-color: #fefafa;
}

.inCartYetBtn {
  display: block;

  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  padding-left: calc(var(--button-horizontal-padding) + 13px);

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #c90606;
  border: 2px solid #c90606;
  border-radius: 2px;
  background-color: #fefafa;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.404 3.51942C10.368 3.46952 10.3232 3.42947 10.2727 3.40201C10.2223 3.37454 10.1675 3.36032 10.112 3.36033H7.80614V1.54216C7.80614 1.1805 7.68467 0.833655 7.46846 0.577925C7.25225 0.322195 6.959 0.178528 6.65323 0.178528H4.3474C4.04163 0.178528 3.74838 0.322195 3.53217 0.577925C3.31595 0.833655 3.19448 1.1805 3.19448 1.54216V3.36033H0.888656C0.83295 3.35958 0.777772 3.37317 0.726946 3.40015C0.676121 3.42713 0.630862 3.46686 0.594306 3.51658C0.557751 3.5663 0.530772 3.62483 0.515239 3.68811C0.499707 3.75139 0.495992 3.81791 0.504352 3.88305L1.22684 9.40575C1.25464 9.62252 1.34773 9.82011 1.48898 9.96211C1.63022 10.1041 1.81009 10.1809 1.99545 10.1785H9.01286C9.19822 10.1809 9.37809 10.1041 9.51933 9.96211C9.66058 9.82011 9.75367 9.62252 9.78147 9.40575L10.4963 3.88305C10.504 3.81816 10.4997 3.75206 10.4838 3.6893C10.4679 3.62654 10.4407 3.56858 10.404 3.51942V3.51942ZM3.96309 1.54216C3.96309 1.4216 4.00358 1.30599 4.07565 1.22075C4.14773 1.1355 4.24547 1.08761 4.3474 1.08761H6.65323C6.75515 1.08761 6.8529 1.1355 6.92497 1.22075C6.99704 1.30599 7.03753 1.4216 7.03753 1.54216V3.36033H3.96309V1.54216ZM9.01286 9.26938H1.98777L1.33829 4.26941H9.66233L9.01286 9.26938Z' fill='%23C90606'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left 5px center;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  --button-horizontal-padding: 8px;
  --button-vertical-padding: 1px;;
}

.inCartYetBtn:hover {
  color: #fefafa;
  background-color: #c90606;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.404 3.51942C10.368 3.46952 10.3232 3.42947 10.2727 3.40201C10.2223 3.37454 10.1675 3.36032 10.112 3.36033H7.80614V1.54216C7.80614 1.1805 7.68467 0.833655 7.46846 0.577925C7.25225 0.322195 6.959 0.178528 6.65323 0.178528H4.3474C4.04163 0.178528 3.74838 0.322195 3.53217 0.577925C3.31595 0.833655 3.19448 1.1805 3.19448 1.54216V3.36033H0.888656C0.83295 3.35958 0.777772 3.37317 0.726946 3.40015C0.676121 3.42713 0.630862 3.46686 0.594306 3.51658C0.557751 3.5663 0.530772 3.62483 0.515239 3.68811C0.499707 3.75139 0.495992 3.81791 0.504352 3.88305L1.22684 9.40575C1.25464 9.62252 1.34773 9.82011 1.48898 9.96211C1.63022 10.1041 1.81009 10.1809 1.99545 10.1785H9.01286C9.19822 10.1809 9.37809 10.1041 9.51933 9.96211C9.66058 9.82011 9.75367 9.62252 9.78147 9.40575L10.4963 3.88305C10.504 3.81816 10.4997 3.75206 10.4838 3.6893C10.4679 3.62654 10.4407 3.56858 10.404 3.51942V3.51942ZM3.96309 1.54216C3.96309 1.4216 4.00358 1.30599 4.07565 1.22075C4.14773 1.1355 4.24547 1.08761 4.3474 1.08761H6.65323C6.75515 1.08761 6.8529 1.1355 6.92497 1.22075C6.99704 1.30599 7.03753 1.4216 7.03753 1.54216V3.36033H3.96309V1.54216ZM9.01286 9.26938H1.98777L1.33829 4.26941H9.66233L9.01286 9.26938Z' fill='white'/%3E%3C/svg%3E%0A");
}

.addInCartBtn {
  display: block;

  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  padding-right: calc(var(--button-horizontal-padding) + 7px);
  padding-left: calc(var(--button-horizontal-padding) + 26px);

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #fefafa;
  border: 2px solid #c90606;
  border-radius: 2px;
  background-color: #c90606;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 3.67853H9.469L9.719 2.67853H3.5V1.67853H10.36C10.436 1.67853 10.511 1.69586 10.5793 1.7292C10.6476 1.76253 10.7074 1.811 10.7542 1.87092C10.8009 1.93084 10.8334 2.00063 10.8491 2.07498C10.8649 2.14934 10.8635 2.2263 10.845 2.30003L9.595 7.30003C9.56791 7.40815 9.50548 7.50412 9.4176 7.5727C9.32973 7.64128 9.22146 7.67852 9.11 7.67853H2C1.86739 7.67853 1.74021 7.62585 1.64645 7.53208C1.55268 7.43831 1.5 7.31114 1.5 7.17853V1.17853H0.5V0.178528H2C2.13261 0.178528 2.25978 0.231206 2.35355 0.324974C2.44732 0.418743 2.5 0.54592 2.5 0.678528V3.67853ZM2.5 10.6785C2.23478 10.6785 1.98043 10.5732 1.79289 10.3856C1.60536 10.1981 1.5 9.94374 1.5 9.67853C1.5 9.41331 1.60536 9.15896 1.79289 8.97142C1.98043 8.78388 2.23478 8.67853 2.5 8.67853C2.76522 8.67853 3.01957 8.78388 3.20711 8.97142C3.39464 9.15896 3.5 9.41331 3.5 9.67853C3.5 9.94374 3.39464 10.1981 3.20711 10.3856C3.01957 10.5732 2.76522 10.6785 2.5 10.6785ZM8.5 10.6785C8.23478 10.6785 7.98043 10.5732 7.79289 10.3856C7.60536 10.1981 7.5 9.94374 7.5 9.67853C7.5 9.41331 7.60536 9.15896 7.79289 8.97142C7.98043 8.78388 8.23478 8.67853 8.5 8.67853C8.76522 8.67853 9.01957 8.78388 9.20711 8.97142C9.39464 9.15896 9.5 9.41331 9.5 9.67853C9.5 9.94374 9.39464 10.1981 9.20711 10.3856C9.01957 10.5732 8.76522 10.6785 8.5 10.6785Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left 15px center;

  cursor: pointer;
  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  letter-spacing: 0.05em;

  --button-horizontal-padding: 8px;
  --button-vertical-padding: 1px;
}

.addInCartBtn:hover {
  color: #c90606;
  background-color: #fefafa;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 4H9.469L9.719 3H3.5V2H10.36C10.436 2 10.511 2.01733 10.5793 2.05067C10.6476 2.08401 10.7074 2.13248 10.7542 2.19239C10.8009 2.25231 10.8334 2.3221 10.8491 2.39645C10.8649 2.47081 10.8635 2.54778 10.845 2.6215L9.595 7.6215C9.56791 7.72962 9.50548 7.8256 9.4176 7.89417C9.32973 7.96275 9.22146 8 9.11 8H2C1.86739 8 1.74021 7.94732 1.64645 7.85355C1.55268 7.75978 1.5 7.63261 1.5 7.5V1.5H0.5V0.5H2C2.13261 0.5 2.25978 0.552678 2.35355 0.646447C2.44732 0.740215 2.5 0.867392 2.5 1V4ZM2.5 11C2.23478 11 1.98043 10.8946 1.79289 10.7071C1.60536 10.5196 1.5 10.2652 1.5 10C1.5 9.73478 1.60536 9.48043 1.79289 9.29289C1.98043 9.10536 2.23478 9 2.5 9C2.76522 9 3.01957 9.10536 3.20711 9.29289C3.39464 9.48043 3.5 9.73478 3.5 10C3.5 10.2652 3.39464 10.5196 3.20711 10.7071C3.01957 10.8946 2.76522 11 2.5 11ZM8.5 11C8.23478 11 7.98043 10.8946 7.79289 10.7071C7.60536 10.5196 7.5 10.2652 7.5 10C7.5 9.73478 7.60536 9.48043 7.79289 9.29289C7.98043 9.10536 8.23478 9 8.5 9C8.76522 9 9.01957 9.10536 9.20711 9.29289C9.39464 9.48043 9.5 9.73478 9.5 10C9.5 10.2652 9.39464 10.5196 9.20711 10.7071C9.01957 10.8946 8.76522 11 8.5 11Z' fill='%23c90606'/%3E%3C/svg%3E%0A");
}

.visuallyHidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

